

/* main text for reservation , top text */
.booking h1{
	text-align: center;
	color: deeppink;
	font-size: 60px;
	font-family: monotype corsiva;
	letter-spacing: 5px;

}
/* side box in which reservatoin are written */
div.your_reservation{
	background-color: #0099cc;
	margin-left: 80px;
	padding-top: 10px;
	padding-bottom: 50px;
	margin-right: 917px;


}
.your_reservation h2{
	text-align: center;
	font-family: artial;
	color: yellow;
	letter-spacing: 2px;
}

.your_reservation h3{
	color: #fff;
	margin-left: 20px;
	letter-spacing: 2px;
	word-spacing: 5px;
	margin-top: 30px;
}
.your_reservation select{
	margin-top: -10px;
	width: 85%;
	height: 40px;
	margin-left: 20px;
	background-color: #fff;
	font-size: 18px;
	font-style: italic;
	letter-spacing: 0.5px;
	
}

/* css for the above step box for reservation */
.step_box{
	background-color: #0099cc;
	margin-left: 480px;
	height: 50px;
	width: 830px;
}
.step_box h3.step1{
	margin-left: 20px;
	line-height: 50px;
	margin-top: -68px;
	color: white;
}
.step_box h3.step2{
	margin-left: 200px;
	line-height: 50px;
	margin-top: -68px;
	color: #999999;
}
.step_box h3.step3{
	margin-left: 400px;
	margin-top: -68px;
	line-height: 50px;
	color: #999999;
}

.step_box h3.step4{
	margin-left: 660px;
	margin-top: -68px;
	line-height: 50px;
	color: #999999;
}

.cal1{
	
	width: 400px;
	height: 200px;
	margin-left: 500px;
	margin-top: -300px;
}

.cal2{
	margin-left: 900px;
	margin-top: -200px; 
	background-color: #0099cc;
	width: 350px;
	height: 280px;
	
}

/* css for button  CHECK AVAILAIBILITY */

#b1{
	height: 45px;
	width: 280px;
	background-color: #336699;
	font-size: 20px;
	word-spacing: 8px;
	letter-spacing: 0.5px;
	color: #fff;
	border:solid #fff 1px;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 20px;
}

#b1:hover{
	outline-color: deeppink;
	cursor: pointer;
	color: deeppink;

}

/* css for the lebel in side called the enter day */
#d{
	margin-left: 22px;
	font-size: 22px;
	color: #fff;
}
#day{
	margin-left: 15px;
	width: 100px;
	height: 25px;
}
